{% extends 'base.html' %}

{% block content %}
    <div id="main-games-table">
        <div id="game-title">
            Game
        </div>
        <div id="winner-title">
            Winner
        </div>
        <div id="loser-title">      
            Loser
        </div>
        {% for tournament in tournaments %}
        <div id="game-number">
            {{tournament.id}}
        </div>
        <div id="winner-name">
            {{tournament.winner.name}}
        </div>
        <div id="loser-name">
            {{tournament.loser.name}}
        </div>
        {% endfor %}
    </div>
   
    
        
{% endblock content %}

