{% extends "base.html" %}
{% block content %}

<form action="/tournaments" method="POST">
  <div>
    <label for="game_number">Game Number:</label>
    <input type="text" id="game_number" name="game_number" placeholder="game_number" required autofocus>
  </div>

  <div>
    <label for="winner">Player 1:</label>
    <select id="player1" name="player1">
      {% for game in games %}
        <option value="{{player.id}}">{{player.name}}</option>
      {% endfor %}
    </select>
  </div>

  <div>
    <label for="player2">Player 2:</label>
    <select id="player2" name="player2">
      {% for player in players %}
        <option value="{{player.id}}">{{player.name}}</option>
      {% endfor %}
    </select>
  </div>

  <button type="submit">Add Tournament Results</button>

</form>

{% endblock %}