{% extends 'base.html' %}

{% block content %}
    <h1>Games</h1>

    

    <table>
        <tr>
            <th>
                <h3>Click on a game to get more info, update to change results or the bin to delete a game.</h3>
            </th>
            
        </tr>
        {% for game in games %}
        <tr>
            <td>
                <p>
                <div class = "game_id">
                    
                    <a href="/games/{{game.id}}">Game {{game.number}}</a>
                    
                </div>
                
                <div class = "buttons">
                    <form action="/tournaments"></form>
                    <form action="/games.{{game.id}}/delete" method=@POST>
                        <button class="bin"><i class="fa fa-trash-o fa-3x" style="color:black"></i></button>
                    </form>
                </div>
                </p>
            </td>
        </tr>
        {% endfor %}
        <tr>
            <td>
                <li><a href="/games/new">Add New Game</a>
            </td>
        </tr>
    </table>
{% endblock %}<h1></h1>