{% extends 'base.html' %}

{% block content %}
    <h1>Game Numbers</h1>

    

    <table>
        <tr>
            <th>
                <h3>Click on a game to get more info or click the bin to delete a game.</h3>
            </th>
            
        </tr>
        {% for game in games %}
        <tr>
            <td>
                <div class = "game_id">
                    <a href="/games/{{game.id}}">Game {{game.number}}</a>
                </div>
                <div class = "buttons">
                    <form action="/games.{{game.id}}/delete" method=@POST>
                        <button class="bin"><i class="fa fa-trash-o fa-3x" style="color:black"></i></button>
                    </form>
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}<h1></h1>