{% extends 'base.html' %}

{% block content %}

    
    <h3>Click on a game to get more info, update to change results or the bin to delete a game.</h3>
    <div id="main-games-table">
        <div id="game-title">Game</div>
        <div id="winner-title">Update</div>
        <div id="loser-title">Bin</div>
        {% for game in games %}
        
            <div id="game-number">
                    
                <a href="/games/{{game.id}}">Game {{game.number}}</a>
                    
            </div>
            <div id="winner-name">
                <a href="/games/{{game.id}}/edit">
                    <button type="submit">Update</button>
            </div>
            <div id="loser-name">
                <form action="/games/{{game.id}}/delete" method='POST'>
                    <button class="bin"><i class="fa fa-trash-o fa-3x" style="color:black"></i></button>
                </form>
            </div>    
        {% endfor %}
    <p><a href="/games/new">Add New Game</a></p>
{% endblock %}<h1></h1>